---
---

// Headers
$header-heading-color: #191c18;
$header-bg-color: #0b4033;
$header-bg-color-secondary: #33400b;

// Text
$section-headings-color: #159936;
$body-text-color: #8eab8a;
$body-link-color: #a4b347;
$blockquote-text-color: #7d917a;

// Code
$code-bg-color: #f3f6fa;
$code-text-color: #71a372;

// Borders
$border-color: #e1f0dc;
$table-border-color: #eaece9;
$hr-border-color: #eff1ef;

@import "{{ site.theme }}";

body {
    font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
