---
---

// Headers
$header-heading-color: #80e060;
$header-bg-color: #0b4033;
$header-bg-color-secondary: #33400b;

// Text
$section-headings-color: #12752b;
$body-text-color: #576e53;
$body-link-color: #90b846;
$blockquote-text-color: #7d917a;

// Code
$code-bg-color: #f3f6fa;
$code-text-color: #71a372;

// Borders
$border-color: #e1f0dc;
$table-border-color: #eaece9;
$hr-border-color: #eff1ef;

@import "{{ site.theme }}";

body {
    font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.responsive {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
}

.responsive iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}
