---
---

$header-bg-color: #1e6bb8;
$header-bg-color-secondary: #7EA7D3;

$body-link-color: #7EA7D3;
$blockquote-text-color: #819198;

$code-text-color: #494D4E;

@import "{{ site.theme }}";

body {
    font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
