---
---

// Headers
$header-heading-color: #191c18;
$header-bg-color: #CBFEF5;
$header-bg-color-secondary: #CBFEF5;

// Text
$section-headings-color: #159957;
$body-text-color: #96ad93;
$body-link-color: #1eb833;
$blockquote-text-color: #7c8f79;

// Code
$code-bg-color: #f3f6fa;
$code-text-color: #71a372;

// Borders
$border-color: #dce6f0;
$table-border-color: #e9ebec;
$hr-border-color: #eff0f1;

@import "{{ site.theme }}";

body {
    font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
